<!doctype html>
<html>
    <head>
        <title>Web-Sockett</title>
        <script src="../public/socket.io.js"></script>
    </head>
<body>
    <button>click</button>
    <div id="myChart" class="style1" style="width: 200px; height: 200px"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {


            window.onload = function() {

                var compter = 0;

                var socket = io.connect("http://127.0.0.1:9999");
                socket.emit('sendInformationUser', "hello" );


                socket.on('broadcasting', function (data) {

                });

                var x = 0;

                socket.on('hello to you too', function (data) {
                    addData(data);
                    /*
                    try {
                        var count = Object.keys(data.accelero).length;
                        console.log(data.accelero);

                        for (var i = 0; i < count ; i++ ){
                            console.log(data.accelero[i].valueX);
                        }
                    }catch (error){

                    }
                    */

                });

                socket.on('message', function (data) {

                });

                $('button').click(function () {
                    socket.emit('sendInformationUser', "hello" );
                    console.log("hello");
                })



                var dataPoints = [];
                var options = {
                    theme: "light2",
                    title: {
                        text: "Live Data"
                    },
                    data: [{
                        type: "line",
                        dataPoints: dataPoints
                    }]
                };

                function addData(data) {
                    try {
                        var count = Object.keys(data.accelero).length;

                        for (var i = 0; i < count ; i++ ){
                            dataPoints.push({x: compter, y: data.accelero[i].valueX});
                            compter++;
                        }
                    }catch (error){

                    }
                    $("#chartContainer").CanvasJSChart(options);
                }
            }
        });
    </script>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>

